<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/shady/ui-automation/src/test/java">
        <classes>
            <class name="tests.AmazonTest">
                <methods>
                    <include name="amazonAutomation"/>
                </methods>
            </class>
            <class name="tests.ApiTest">
                <methods>
                    <include name="testCreateRetrieveAndUpdateUser"/>
                    <include name="testRetrieveNonExistentUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
